.CardTitle {
  height: max-content;
  margin: 10px 10px 20px 10px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 10px 15px 10px;
    overflow: hidden;
    width: 300px;
    padding: 10px;
  }
  
  .card-img-top {
    max-width: 100%;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 10px;
    width: max-content;
  }
  
  .card-text {
    color: #555;
  }
  

  
  .card-body > .btn:hover {
    background-color: #0056b3;
  }
  